########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin/

########################################
# Eclipse
########################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

########################################
# NetBeans
########################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

########################################
# VS Code
########################################
.vscode/

########################################
# Java / Maven / Gradle
########################################
target/
build/
.gradle/
.mvn/
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear

########################################
# Serveurs locaux (Tomcat / Payara / Jetty)
########################################
work/
temp/
logs/
*.pid
*.log

########################################
# JSP compilées
########################################
*.jsp.java

########################################
# Fichiers sensibles
########################################
**/database.properties
**/config.properties
**/secret.key

########################################
# Documentation générée
########################################
logsAppli/
javaDoc/

########################################
# Node.js
########################################
node_modules/

########################################
# OS
########################################
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

########################################
# Fichiers temporaires
########################################
*.tmp
*.swp
*.bak

########################################
# Archives
########################################
*.zip
*.tar.gz
*.rar
